* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* INIZIO STYLE FOOTER */
    .container-hdr {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .row-hdr {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 30px 0;
    }

    .col-50hdr {
        width: calc(100% / 2 - 20px);
        padding: 0px 30px;
    }

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        vertical-align: middle;
    }

    /* STYLE CONTENUTO HEADER */
    .content img {
        width: 200px;
        text-align: center;
        padding-left: 30px;
        padding-right: 25px;
    }

    .content a{
        font-size: 15px;
        font-weight: 400;
        color: #000;
        padding: 0 20px;
        list-style-type: none;
        text-decoration: none;
    }

    .content a#login {
        padding: 0 20px;
    }

    .content a#btn {
        border: none;
        background-color: #0061ff;
        padding: 6px 12px;
        color: #fff;
        margin-right: 20px;
    }
    /* FINE STYLE CONTENUTO HEADER */

    /* INIZIO MAIN */

        /* STYLE JUMBOTRON */
            .contjumbotron {
                width: 100%;
                background-color: #b4d0e7;
            }

            .cont60 {
                width: 60%;
                margin: 0 auto;
            }

            /* STYLE H1 */
             h1 {
                font-size: 80px;
                font-weight: 900;
                padding: 60px 0 45px 0;
             }
            /* FINE STYLE H1 */
            
            /* STYLE RIGHE JUMBO */
                .rowjumbo1 {
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    width: 100%;
                }

                .rowjumbo2 {
                    width: 100%;
                    display: flex;
                }
            /* FINE STYLE RIGHE JUMBO */

            /* STYLE COLONNE JUMBOTRON */
                .col30 {
                    width: 30%;
                    padding-right: 20px;
                }

                .col70 {
                    position: relative;
                    width: 70%;
                }

                .col70 img{      
                    position: absolute;
                    right: 0;
                    width: 100%;
                }
            /* STYLE COLONNE JUMBOTRON */

            .rowjumbo2 button {
                display: block;
                background-color: #0061ff;
                padding: 10px 15px;
                color: #fff;
                font-size: 18px;
                border: none;
                margin-top: 35px;
            }

            .rowjumbo2 p {
                display: block;
                font-size: 15px;
                line-height: 1.5;
            }

            .col30 > span {
                display: block;
                font-size: 18px;
                margin: 45px 0;
            }

            .col30 #rowdown {
                display: block;
                font-size: 20px;
                margin-bottom: 30px;
            }
        /* FINE STYLE JUMBOTRON */


        /* INIZIO STYLE PIANO BUSINESS */
            .contpianobusiness {
                width: 100%;
                background-color: green;
            }

            .contplan {
                width: 60%;
                margin: 0 auto;
                background-color: yellow;
            }

            .rowbusiness1 {
                width: 60%;
                height: 200px;
                margin: 0 auto;
                background-color: blue;
            }
            .rowbusiness2 {
                width: calc(100% / 3 - 20px);
                height: 200px;
                margin: 0 10px;
                background-color: red;
            }
            
            .rowbusiness3 {
                width: 60%;
                height: 250px;
                margin: 0 auto;
                background-color: coral;
            }
        /* FINE STYLE PIANO BUSINESS */
    /* FINE MAIN */

/* FINE STYLE FOOTER */